openapi: 3.2.0
info:
  title: SoundStat Stats API
  description: API for accessing music track audio analysis, features (tempo, key, mode, energy, danceability, valence, instrumentalness, acousticness, loudness), search, and recommendations. SoundStat is an independent audio-analysis alternative to the deprecated Spotify audio-features endpoints.
  version: 1.0.0
servers:
- url: https://soundstat.info
  description: SoundStat production API
security:
- ApiKeyAuth: []
tags:
- name: Stats
paths:
  /api/v1/stats:
    get:
      summary: Get Analysis Stats
      description: 'Get comprehensive statistics about analyzed tracks.


        Parameters:

        ----------

        x_api_key : str (API key for authentication)


        Returns:

        -------

        Dict


        general: Dict (Overall statistics)


        - total_tracks: int


        - analyzed_tracks: int


        - unique_genres: int


        - avg_popularity: float


        top_genres: List[Dict] (Most common genres)


        audio_characteristics: Dict (Average audio features)


        Notes:

        -----

        Provides a statistical overview of the analyzed music database.'
      operationId: get_analysis_stats_api_v1_stats_get
      parameters:
      - name: x-api-key
        in: header
        required: false
        schema:
          type: string
          title: X-Api-Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Stats
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key issued after registration at https://soundstat.info/auth.html. Passed in the x-api-key request header.
